.tab-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scroll-buttons {
  flex-shrink: 0;
  margin: 0 8px;
}

.scroll-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 4px;
}

.tab-scroll-wrapper {
  flex-grow: 1;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 8px;
  align-self: center;
}

.tab-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
}

.tab {
  display: flex;
  align-content: center;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;

}

.tab-heading {
  font-weight: bold;
  margin-right: 4px;
}

.tab-content {
  display: none;
  padding: 16px;
}

.tab.active {
  background-color: rgb(31, 103, 237);
  color :white
}

.tab.active .tab-content {
  display: block;
}

.project-details {
  margin-bottom: 16px;
}

.project-name {
  font-weight: bold;
}

.week-details {
  margin-top: 8px;
}

.week-heading {
  font-size: 18px;
  font-weight: bold;
}

.week-content {
  margin-top: 8px;
}

.day-column {
  display: inline-block;
  vertical-align: top;
  padding: 8px;
}

.day-heading {
  font-weight: bold;
}

.day-date {
  margin-top: 4px;
}

.input-field {
  margin-top: 8px;
  width: 100px;
}


 
.total-work-hours {
  margin-top: 16px;
  font-weight: bold;

}

.save-button {
  margin-top: 16px;
  text-align: center;
}