.outputFont {
    font-size: 14px;
    font-weight:bold;
    align-items: flex-start;
}

.timeline {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.start-date,
.end-date {
    padding: 0.5rem;
    width: 30%;
}
.date-field {
    margin-right: 10px; 
}
.bg_color{
    background-color:#f3f2f2;
    border: black;
}