.slds-item {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    background-clip: padding-box;
    background-color: #f8f8f8;
    padding: 0.45rem;
    margin: 0.25rem;
}
.bordder{
    border-radius: 10px;
}