.changeColor{
    background-color: rgb(241, 232, 220);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.big-text {
    font-size: 24px;
    text-align: center;
}